.container{
    display: flex;
    gap: 60px;
    width: 500%;

}
.column{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 414px;
    height: 100%;
}
.element{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
}
.big{
    width: 414px;
}
.green{
    background-color: green;
}
.blue{
    background-color: midnightblue;
}

body {
    background-color: darkslategrey;
}

.pink {
    background-color: pink;
}

.big-big {
    width: 414px;
    height: 414px;
}

.big-big-big {
    height: 414px;
}